TeamMayo/*.iml
TeamMayo/*.gradle
TeamMayo/local.properties
TeamMayo/.idea/libraries
TeamMayo/.idea/modules.xml
TeamMayo/.idea/workspace.xml
TeamMayo/.DS_Store
TeamMayo/build
TeamMayo/captures
TeamMayo/.externalNativeBuild
